[include]
	# Kept in 1Password. Contains GitHub username, token, etc., inspired by http://stackoverflow.com/questions/8505335/hiding-github-token-in-gitconfig
	path = ~/.gitconfig.local
[core]
	excludesfile = ~/.gitignore_global_osx
	editor = code -w
[color]
	ui = auto
[alias]
	st = status
	ci = commit
	co = checkout
	cp = cherry-pick
	credit = blame
	staged = diff --staged
	unstage = reset HEAD
	l = log --graph --pretty='%h  %ad%Cgreen%d%Creset %Cred%an%Creset %s' --decorate=short --date=relative
	lall = log --graph --pretty='%h  %ad%Cgreen%d%Creset %Cred%an%Creset %s' --decorate=short --date=relative --all
	b = for-each-ref --sort='-committerdate' refs/heads/ --format='%(committerdate:short) %(refname:short)'
	rb = for-each-ref --sort='committerdate' refs/remotes/ --format='%(committerdate:short) %(refname:short) (%(authorname))'
	pushm = push origin master
	pullm = !git fetch origin && git rebase --rebase-merges origin/master
	pullall = !git pull && git submodule update --init --recursive
	ri = rebase --interactive
	rc = rebase --continue
	sl = stash list
	sd = stash drop
[mergetool]
	keepBackup = false
[push]
	# So I can't do a bare git push (must specify the origin branch)
	default = nothing
[difftool]
	prompt = false
[diff]
	tool = opendiff
[credential]
	helper = osxkeychain
[filter "lfs"]
	# This section was added automatically when installing GitHub Desktop
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
	# Kept in 1Password.
	cookiefile = ~/.gitcookies
[user]
	name = Raphael Schaad
	email = raphael.schaad@gmail.com
