# File: tesseract-raphael.config

# Use: $ tesseract -l eng -psm 1 in.tiff out tesseract-raphael.config

# Note: Input file should be high resolution and grayscale, e.g. use:
#       $ convert -density 300 file.pdf -depth 8 file%04d.tiff
# Note: Set language with '-l' to 3-character ISO 639-2 language codes.
# Note: Set 'tessedit_pageseg_mode' to 1 (Automatic page segmentation with Orientation and script detection [OSD]) via CLI argument '-psm' instead of config variable.

# Output in hOCR format including layout information (in form of HTML) instead of just text file.
tessedit_create_hocr 1

# Don't recognize common latin ligatures to improve searchability.
tessedit_char_blacklist ﬀﬁﬂﬃﬄ

# Write .pdf output file (only available from tesseract 3.03+, see `brew.md`)
tessedit_create_pdf 1
